/storage/database.sqlite
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/view/*
/storage/logs/*
/nbproject
.DS_Store
.env
.travis.yml
/node_modules
/vendor
composer.lock
composer.phar

