/resources/assets/js/error
/public/js/rollbar.js
/public/js/rollbar.js.map
/storage/database.sqlite
/storage/testing.sqlite
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/view/*
/storage/logs/*
/nbproject
.DS_Store
.env
.env.testing
.bash_profile
/node_modules
/vendor
/build
composer.lock
composer.phar
Vagrantfile
.vagrant
/scripts
gulpfile.dev.js


tests/_output/*