/resources/assets/js/error
/public/js/rollbar.js
/public/js/rollbar.js.map
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/view/*
/storage/dump.sql
/storage/logs/*
tests/_output/*
/nbproject
.DS_Store
.env
.bash_profile
/node_modules
/vendor
/build
composer.lock
composer.phar
Vagrantfile
.vagrant
/scripts
gulpfile.dev.js