/*
Cruz Web app 2nd Main CSS file.
Seeing this project is having a time wasting issue with gulp

Docuemnt starts by editing the welcome page

*/
/*
* Global Hacks;
*/

h1 div{
    font-size:14px;
}

#FeedInput button {
    margin:10px 0;
    float:right;
}

a{text-decoration:none !important;}

.dropzone{
    border:2px dashed #0087F7 !important;
    border-radius: 5px;
}

.panel-heading{
    border-bottom:none !important;
}

button.panel-button{
    float:right;
    position: relative;
    top:-20px;
}
/*
* Welcome page
*/



body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #B0BEC5;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
    margin-bottom: 40px;
}

.quote {
    font-size: 24px;
}


/*
* Auth Pages(s)
*/

.extra-title{
    font-size:45px;
    text-align:center;
    margin:20px 0;
    padding:30px 0;
}

.auth-background{
    background:#eee;
    height:300px;

}

#pullup{
    position:relative;
    top:-150px;
}

.special-cara{
    background:#efefef;
    padding:30px 0;
    margin:45px 10px;
}

#auth-info{
    position:relative;
    float:right;
    font-size:20px;
    top:-20px;
    font-weight:bold;
}

/* On main menu*/

#user-dp{
    width:40px;
    height:40px;
}

#move-tip{
    position: absolute;
    top:80px;
}

/**
 *  Dashboard/Homepage
 */



.dh{
    padding-bottom:20px;
}



/*
    Messaging Pages
*/

#message-comestics{
    background:#eee;
    padding:10px 15px;
}
#msg-padding{
    padding:10px 15px;
}

/*
    User pages.
*/

/*Hack*/
.padding{
    padding:0 15%;
}

.padding-top{
    padding-top:20px;
}
#padding{
    padding:5px 25px;
}
.update-form{
    width:100%;
    height:50px !important;
    max-width:555px;
}

#timeline{
    float:right;
}
/*Hack*/

.laz{
    background:#000;
    position:relative;
}

.laz-profile{
    padding:1.5em 0;
    overflow:visible;
    min-height:200px;
}
.laz-profile
.laz-profile-user{
    float: left;
    min-width: 500px;
}

.laz-profile
.laz-profile-name{
    color:#fff;
    float: left;
    margin-top:40px;
    font-weight: bold;
}

.laz-profile
.laz-profile-location{
    color:#fff;
}

.laz-profile
.laz-profile-userOnline{
    background:#74FF64;
    width: 50px;
    float: right;
    border-radius: 15px;
    color: #fff;
    position:relative;
    top:10px;
    margin:0 25px;
    padding:5px;
}

.laz-profile
.laz-profile-userOffline{
    background:#A2A3A0;
    width: 50px;
    float: right;
    border-radius: 15px;
    color: #fff;
    position:relative;
    top:10px;
    margin:0 25px;
    padding:5px;
}


.user-action-buttons{
    float:right;
    width:380px;
    margin:0 auto;
}

.user-action-buttons button{
    margin:0 5px;
    font-size:18px;
}

#content img{
    width:120px;
    float: left;
}

.timeline{

}

/*
    User Profiles

*/
/*News Feed*/

.newsFeedContent{
    padding:15px 5px;
    border-top:1px solid #efefef;
    margin:20px 0;
}

/*Images*/

img#preview-image{
    width:100%;
}


/*
User details*/

/*Info*/



/**
Settings Page
**/

#page-header{
    text-align:center;
    width:600px;
    float:right;
}

#position-section{
    padding:20px 0;
    margin:10px 0;
}

#position-section-child form{
    padding:20px 0;
}

#settings-page-header{
    border-bottom:1px solid #ddd;
}

#settings-page-header-child{
    border-bottom:1px solid #ddd;
/*    position:relative;
    top:-10px;*/
}

#div-space-me{
    padding:15px 0;
    margin:10px 0;
}

/**
* Special Character
*
*/
#input-negetive{
    position:relative;
    left:200px;
    top:-34px;
}
/**
* Special Character
*
*/

/**
 *  Favs Page
 */

#laz-paginate{
    width:100%;
    padding:0 40%;
}

/* User Modeal Views
*/

.modal-content{
    color:#000;
}

.modal-body-child{
    padding:0 50px;
}







/**
    Footer
*/
.footer{
    background:#eee;
    padding:50px 5px 8px;
}
.structure{

}
.structure ul{
    padding-bottom:30px;
    width:250px;
    float:left;
}
.structure ul li{
    list-style: none;
}
.ctllogo{
    background:url(../imgs/corelabslogo.png) no-repeat center center;
    width:150px;
    height:150px;
}
.copyright p{
    float:left;
    clear:both;
}
/*# sourceMappingURL=laz.css.map */