/*
LAZ Open Souerce app 2nd Main CSS file.

Docuemnt starts by editing the welcome page

*/

/*
* Global Hacks;
*/

h1 div {
  font-size: 14px;
}

#FeedInput button {
  margin: 10px 0;
  float: right;
}

a {
  text-decoration: none !important;
}

.dropzone {
  border: 2px dashed #0087F7 !important;
  border-radius: 5px;
}

.panel-heading {
  border-bottom: none !important;
}

button.panel-button {
  float: right;
  position: relative;
  top: -20px;
}

/*
* Welcome page
*/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #B0BEC5;
  display: table;
  font-weight: 300;
  font-family: 'Raleway';
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 96px;
  margin-bottom: 40px;
}

.quote {
  font-size: 24px;
}

/*
* Auth Pages(s)
*/

.extra-title {
  font-size: 45px;
  text-align: center;
  margin: 20px 0;
  padding: 30px 0;
}

.auth-background {
  background: #eee;
  height: 300px;
}

#pullup {
  position: relative;
  top: -150px;
}

.special-cara {
  background: #efefef;
  padding: 30px 0;
  margin: 45px 10px;
}

#auth-info {
  position: relative;
  float: right;
  font-size: 20px;
  top: -20px;
  font-weight: bold;
}

/* On main menu*/

#user-dp {
  width: 40px;
  height: 40px;
}

#move-tip {
  position: absolute;
  top: 80px;
}

/**
 *  Dashboard/Homepage
 */

.dh {
  padding-bottom: 20px;
}

/*
    Messaging Pages
*/

#message-comestics {
  background: #eee;
  padding: 10px 15px;
}

#msg-padding {
  padding: 10px 15px;
}

/*
    User pages.
*/

/*Hack*/

.padding {
  padding: 0 15%;
}

.padding-top {
  padding-top: 20px;
}

#padding {
  padding: 5px 25px;
}

.update-form {
  width: 100%;
  height: 50px !important;
  max-width: 555px;
}

#timeline {
  float: right;
}

/* Profile Pic*/

.profile-photo img {
  width: 100%;
}

.profile-photo {
  float: left;
  margin-right: 25px;
  font-size: 16px;
  width: 150px;
  height: 150px;
  border-radius: 200px;
  border: 3px solid #dedede;
  position: relative;
  overflow: hidden;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  /* this fixes the overflow:hidden in Chrome/Opera */
}

.profile-photo span {
  display: block;
  padding: 0;
  line-height: 200px;
  text-align: center;
}

.profile-photo input {
  position: absolute;
  font-size: 2000px;
  z-index: 200;
  top: 0;
  right: 0;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
}

.profile-photo .up_again {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 200px;
  opacity: 0;
  color: #fff;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  line-height: 1.6;
}

.profile-photo:hover .up_again {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}



/*Hack*/

.laz {
  position: relative;
}

.laz-profile {
  padding: 1.5em 0;
  overflow: visible;
  min-height: 240px;
}

.laz-profile
.laz-profile-user {
  float: left;
  min-width: 500px;
}

.laz-profile
.laz-profile-name {
  color: #fff;
  float: left;
  margin-top: 40px;
  font-weight: bold;
}

.laz-profile
.laz-profile-location {
  color: #fff;
}

.laz-profile
.laz-profile-userOnline {
  background: #74FF64;
  width: 50px;
  float: right;
  border-radius: 15px;
  color: #fff;
  position: relative;
  top: 10px;
  margin: 0 25px;
  padding: 5px;
}

.laz-profile
.laz-profile-userOffline {
  background: #A2A3A0;
  width: 50px;
  float: right;
  border-radius: 15px;
  color: #fff;
  position: relative;
  top: 10px;
  margin: 0 25px;
  padding: 5px;
}

.user-action-buttons {
  float: right;
  width: 380px;
  margin: 0 auto;
}

.user-action-buttons form {
  float: left;
}

.user-action-buttons button {
  margin: 0 5px;
  font-size: 18px;
}

/**
         * user-action-buttons
         * Thanks to http://jsfiddle.net/fLMSd/14/
         */

/*.btn-group button>FavLabel span{
            position: relative;
            content:'Add Fav';
        }*/

/*.btn-group button.FavLabel:hover{
            display:none;
         }*/

#content img {
  width: 120px;
  float: left;
}



/*
    User Profiles

*/

/*News Feed*/

.newsFeedContent {
  padding: 15px 5px;
  border-top: 1px solid #efefef;
  margin: 20px 0;
}

#newsFeedSettings {
  float: right;
  position: relative;
}

/*Images*/

img#preview-image {
  width: 100%;
}

.massImages {
  padding: 15px !important;
  margin: 10px 0 !important;
}

/*
User details*/

/*Info*/

/**
Settings Page
**/

#page-header {
  text-align: center;
  width: 600px;
  float: right;
}

#position-section {
  padding: 20px 0;
  margin: 10px 0;
}

#position-section-child form {
  padding: 20px 0;
}

#settings-page-header {
  border-bottom: 1px solid #ddd;
}

#settings-page-header-child {
  border-bottom: 1px solid #ddd;
  /*    position:relative;
    top:-10px;*/
}

#div-space-me {
  padding: 15px 0;
  margin: 10px 0;
}

/**
* Special Character
*
*/

#input-negetive {
  position: relative;
  left: 200px;
  top: -34px;
}

/**
* Special Character
*
*/

/**
 *  Favs Page
 */

#laz-paginate {
  width: 100%;
  padding: 0 40%;
}

/* User Modeal Views
*/

.modal-content {
  color: #000;
}

.modal-body-child {
  padding: 0 50px;
}

/*
    Favs && Faved tab pills
 */

.favBase {
  width: 100%;
  padding: 25px 0;
}

.favBase ul {
  width: 25%;
  margin: 0 auto;
}

/*
    Favorites Empty Collections
 */

.favDis {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  padding: 90px;
}

/**
    Footer
*/

.footer {
  padding: 50px 5px 8px;
}



.structure ul {
  padding-bottom: 30px;
  width: 250px;
  float: left;
}

.structure ul li {
  list-style: none;
}

.ctllogo {
  background: url(../imgs/corelabslogo.png) no-repeat center center;
  width: 150px;
  height: 150px;
}

.copyright {
  padding: 10px 20px;
  margin: 0px 200px;
}

.copyright p {
  float: left;
  clear: both;
}